<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tencorp.residence-ticket-runner</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/caffeinate</string>
    <string>-s</string>
    <string>__NODE_BIN__</string>
    <string>__RUNNER_ENTRY__</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__AUTOMATION_ROOT__</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>RUNNER_ENV_FILE</key>
    <string>__RUNNER_ENV_FILE__</string>
    <key>PATH</key>
    <string>__NODE_DIR__:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/homebrew/bin</string>
    <key>NODE_ENV</key>
    <string>production</string>
    <key>TERM</key>
    <string>dumb</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>Nice</key>
  <integer>5</integer>

  <key>StandardOutPath</key>
  <string>__STDOUT_LOG__</string>
  <key>StandardErrorPath</key>
  <string>__STDERR_LOG__</string>
</dict>
</plist>
